//GoogleFonts

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Permanent+Marker&display=swap');

//Fin GoogleFonts

//Etiquetas Generales

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #ffdf00;
}

h1,h2,h3,h4,h5,p{
    font-family: "Amatic SC", system-ui;
    font-weight: 700;
    font-style: normal;
}

p,a{
    color: #ffdf00;
    text-decoration: none;
}

//Fin etiquetas generales

//Header

.nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item img{
    width: 22px;
    height: 22px;
}

.carousel-inner,
.carousel-item{
    width: 100%;
    height: 300px;
}

@media (max-width:600px){
    .carousel-inner,
    .carousel-item{
        height: 100%;
    }
}

.carousel-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.destacado-container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}

.destacado-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: #ffdf00;
    color: black;
    border: 2px ridge #ffdf00;
    padding: 0;
}

.destacado-item div{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.destacado-item img{
    width: 100%;
    height: 300px;
    object-fit: scale-down;
}

.destacado-item div a{
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #ffdf00;
}

.row{
    margin: 0;
    padding: 0;
}

.footer{
    background-color: #ffdf00;
    color: black;
    text-align: center;
}

